<link href="/assets/content/css/jquery-confirm.min.css" rel="stylesheet" />
<style>
#header{
    width: auto; padding: 10px 15px 90px 15px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
#tagLine{
    margin-top: -3px;margin-left: 80px;color:#02ACE8;font-size: 14px !important;font-weight:bold !important;
}

.form-field {
    border-radius: 0px;
    height: 37px;
    margin: 15px 10px 15px 0;
    margin-right: 0px;
    background: #fff!important;
/*    border-color: rgba(255, 255, 255,.55);
*/    color: #000 !important;
    /* max-width: 300px; */
    float: left;
    margin-right: 10px;
    border:1px Solid #2475AA !important; 
	 color:#333333; 
	 font-family:Arial; 
	 font-size:12px; 
	 width:290px;
/*	 border-radius:3px;
*/	 -moz-border-radius:3px;
}
.form-field:hover
{
	 border:2px solid Orange !important; 
	 /*border-shadow:2px solid gray;*/
}
.btn1 {
    display: block;
    width: auto;
    float: left;
    /* background: #3c8dbc; */
    padding: 8px 28px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    margin: 14px 5px;
    line-height: 22px;
}
#footer 
    {  
    text-align: center;	
	/*--background:#2475AA;----*/
	background-color:#3c8dbc;
    color:#FFF;
    height:auto;
    width:100%;
    overflow:hidden;
    /* border-top-style: solid; 
    border-top-width: thin; 
    border-top-color: #333333; */
    clear: both;
    padding : 15px;
        /*margin:0px;*/
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16), 2px 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.company_link
{
	color:#ffffff; font-family:Arial; font-size:12px; 
}
.company_link:hover
{
   color:#ffffff;
   font-weight:bold;
   text-decoration :none;
}</style>


<div id="header">
    <div style="float:left;width: 20%; text-align: center; padding:0px 0px 0px 0px; margin-left:3px">
        <img src="./assets/content/imgs/e-campus.png" alt = "" height = "70" width = "300"/>
<p id="tagLine">Information @ your Finger Tips...</p>
         </div>

<div style="margin-left:20%;width: 80%;">
<table align="left" style="margin-left: 15%;width: 65%;">
    <tr>
        <td><input type="text" [(ngModel)]="credentials.username" id="userName" name="userName" class="form-field" autocomplete="on" placeholder="Username" required=""/></td>
        <td><input type="password" [(ngModel)]="credentials.password" id="password" name="password" class="form-field" autocomplete="on" placeholder="Password"/></td>
        <!-- <td align="right"><input type="submit" id="btnLogin" name="btnLogin" value="Login" (click)="onbtnLogin()" class="btn btn-warning btn1"/></td> -->
        <td align="right"><button type="submit" id="btnLogin" name="btnLogin" (click)="onbtnLogin()" class="btn btn-warning btn1">Login</button></td>
<td align="right"><button type="submit" id="btnForgotPwd" name="btnForgotPwd" (click)="onbtnForgotPwd()" class="btn btn-warning btn1">Forgot Password</button>               
        </td>  
    </tr>
    <tr>
        <td></td><td></td>
        <td align="left"><a [routerLink]="['/resetpassword']">Reset Password</a></td>
    </tr>
</table>

</div>
</div>

<div id = "body" style="margin-top: 3px;margin-bottom: 3px;">
    <span>
        <img src="./assets/content/imgs/stg.jpg" alt = "" height = "546x" width = "100%"/>
    </span>
</div>

<div id = "footer">
    <span class = "links"><p>© 2022 All Rights Reserved <br/>Powered by : <a href="www.ckt.com" class="company_link" >CloudKEY Technologies</a></p></span>
</div>
<script src="/assets/content/js/jquery-confirm.min.js"></script>
