<!-- <div class="container-fluid Footer">
  <div class="row">      
      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center bg-cust-blue text-white" style="background-color:#00AEEC ;"  >

      <p>Designed, Developed & Maintained by :<br />
        CloudKEY Technologies Ltd.<br />
        Disclaimer : All rights reserved<br />
      </p>
    </div>
  </div>
</div> -->

<footer class="main-footer" style="text-align:center">
  <div class="pull-right hidden-xs">
    <b>Version</b> 2.4.0
  </div>
  <strong>Copyright &copy; 2021-2022 <a href="https://adminlte.io">CloudKEY Technologies</a>.</strong> All rights
  reserved.
</footer>